# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Folder full of die-shots, that are too big.
\Docs\Yamaha-Audio\Die-shots_yamaha\

#Back-up folders
\Hardware\Ultra-MSX-backups\

\Hardware\Ultra-AV\ultra-AV-backups\

\Hardware\Ultra-Midi\Ultra-Midi-backups\

\Hardware\Ultra-VDP\Ultra-VDP-backups\

\Hardware\Ultra-IO-shield\Ultra-IO-shield-backups\